@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
}
body,
#__next {
  width: inherit;
  height: inherit;
  display: flex;
}
@layer base {
  h2 {
    @apply text-mid font-bold mb-span;
  }
}
@layer components {
  .header-icon {
    @apply w-[30px] h-[30px] m-base hover:cursor-pointer;
  }
}
